---
# Project Information
site_name: Alcalá Lab Handbook
site_author: Xyrus X. Maurer-Alcalá

# Repository information
repo_url: https://github.com/AlcalaLab/resources/
edit_uri: blob/main/docs

# Configuration
theme:
  name: material
  features:
  features:
    - navigation.instant
    - navigation.tabs
    - content.action.edit
    - content.code.copy
  icon:
    edit: material/pencil
  language: en
  
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences

# Page tree
nav:
  - Home:
    - Introduction: index.md
  - Lab Culture:
    - Lab Notebooks: lab_notebooks.md
